* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:monospace;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("../../assat/img/beautiful-tropical-beach-sea-ocean-with-coconut-palm-tree-sunrise-time.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.form_main_container {
  border: 3px solid rgba(219, 43, 43, 0.093);
  width: 390px;
  height: 450px;
  background-color: rgba(209, 205, 205, 0.192);
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  backdrop-filter: blur(8px);
}
.proprty_img_main {
  width: 100%;
  height: 110px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.proprty_img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transform: translatey(-50px);
 
  
}
.proprty_img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.form_container{
    width: 100%;
    height: 327px; 
    margin-top: 10px;
    /* border: 1px solid black; */
    padding: 0px 10px;
}
.name{
    width: 100%;
    height: 65px;
    /* border: 1px solid black; */
}
label{
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.581);
}
input{
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.581);
    font-size: 1.5rem;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.581);
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 5px;
}
::placeholder{
   
    color:rgba(0, 0, 0, 0.581);
}
.submit_btn{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

button{
  border-radius: 10px;
   width: 90px;
   height: 40px;
   background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.269);
    font-size: 1.5rem;
    /* background-color: red; */
    font-weight: 700;
    color:rgba(0, 0, 0, 0.581);

}